langchain
langchain_huggingface
ipykernel
python-dotenv
langchain_groq
langchain_community
langchain_core
streamlit
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
chromadb
sentence_transformers
faiss-cpu
langchain_chroma
duckdb
pandas
openai